.container h2{
    text-align: center;
    color: blue;
    margin-top: 40px;
    font-weight: 800;
    font-size: 45px;
    text-shadow: 2px 2px 4px;
}

.container button{
    display: block;
    margin: 2px auto;
}

iframe{
    margin-top: 30px;
    margin-bottom: 0;
    width: 100%;
    height: 200px;
}